# **Python Project Week 4: Processing the dataset for an electric car-sharing service company to understand electric car usage over time**
## 1.1 Importing python Libraries

In [1]:
# Importing the libraries we will need for this project

# Importing the pandas library

import pandas as pd

# Importing the numpy library

import numpy as np

# importing the datetime library

from datetime import datetime


## 1.2 Reading the Dataset from our CSV file

In [41]:

# Dataset url = http://bit.ly/Autolibdataset (Links to an external site.)]
# 
Electric = pd.read_csv('http://bit.ly/autolib_dataset') 
Electric.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]


## 1.3 Previewing our Dataset

In [42]:
# previewing the first ten rows of our dataset

Electric.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [43]:
Electric.tail()

                          Address  Cars  Bluecar counter  ...  day  hour  minute
4995          8 avenue MÃ©nelotte     2                2  ...    6    11      26
4996            37 rue de Dantzig     4                4  ...    4    16      56
4997               142 rue du Bac     1                1  ...    1     7       1
4998  2 avenue du Val de Fontenay     2                2  ...    4    17      27
4999          5 Rue Henry Brisson     4                4  ...    8    10       2

[5 rows x 25 columns]

## 1.4 Accessing Information about our Dataset

In [44]:
# Getting to know more about the dataset by accessing its information

Electric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

## 1.5 Cleaning our Dataset
### 1.5.1 Validity

In [63]:
# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem

Electric.drop(['Displayed comment', 'ID', 'Geo point','Address', 'Cars'], axis = 1, inplace = True)
Electric

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                   0               0                   0  ...    8   11     43
1                   6               0                   0  ...    6    7     24
2                   3               0                   2  ...    3   20     14
3                   3               1                   0  ...    4    4     37
4                   3               0                   0  ...    8   17     23
...               ...             ...                 ...  ...  ...  ...    ...
4995                2               0                   0  ...    6   11     26
4996                4               0                   0  ...    4   16     56
4997                1               0                   0  ...    1    7      1
4998                2               0                   0  ...    4   17     27
4999                4               0                   0  ...    8   10      2

[5000 rows x 20 columns]

In [64]:
# Procedure 2: Outliers
# Data Cleaning Action: checking for outliers using IQR Scores
# Explanation:


Q1 = Electric.quantile(0.25)
Q3 = Electric.quantile(0.75)

IQR = Q3 - Q1


(Electric < (Q1 - 1.5 * IQR)) |(Electric > (Q3 + 1.5 * IQR))


# The two commented lines of code below can be used to drop the outliers but for now I will not drop them

# Electric_no_outlier = Electric[~((Electric < (Q1 - 1.5 * IQR)) | (Electric > (Q3 + 1.5 * IQR))).any(axis = 1)]

# Electric_no_outlier

      Bluecar counter  Charge Slots  Charging Status  ...  minute  month   year
0               False         False            False  ...   False  False  False
1               False         False            False  ...   False  False  False
2               False         False            False  ...   False  False  False
3               False          True            False  ...   False  False  False
4               False         False            False  ...   False  False  False
...               ...           ...              ...  ...     ...    ...    ...
4995            False         False            False  ...   False  False  False
4996            False          True            False  ...   False  False  False
4997            False          True            False  ...   False  False  False
4998            False         False            False  ...   False  False  False
4999            False         False            False  ...   False  False  False

[5000 rows x 20 columns]

### 1.5.2 Completeness

In [66]:

# Procedure 1: Missing values
# Data Cleaning Action:
# Explanation:Checking how many missing values there are across each column

Electric.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [67]:
# Finding the total count of the missing values
Electric.isnull().sum().sum()

4953

### 1.5.3 Consistency

In [68]:

# Procedure 1: Duplicates
# Data Cleaning Action: Drop/remove the duplicates
# Explanation: They are repetitions in our dataset


Electric[Electric.duplicated()]


# dropping the duplicates

Electric2 = Electric.drop_duplicates()
 
# checking for non duplicates

Electric2.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 20 columns]


### 1.5.4 Uniformity

In [69]:
# Procedure 1: None
# Data Cleaning:None
# Explanation:None

In [70]:
# Hint:

# To compute usage, we will need to understand we have to join successive 

# (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

In [71]:
# Creating a new column where we find the difference in the number of bluecars at the station/counter

Electric2['Bluecar_Diff'] = Electric2['Bluecar counter'].diff()
Electric2.head()

   Bluecar counter  Utilib counter  ...  minute  Bluecar_Diff
0                0               0  ...      43           NaN
1                6               0  ...      24           6.0
2                3               0  ...      14          -3.0
3                3               1  ...      37           0.0
4                3               0  ...      23           0.0

[5 rows x 21 columns]

## 1.6 Answering Research Questions

### 1.6.1 Bluecar counter

In [15]:
# In this week's independent project, I will be acting as a data scientist working for an electric car-sharing service company. 

# You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

# Research Question

# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018


# Do the results change if you consider Utilib and Utilib 1.4 instead of Bluecars? 


# (that could be asked earlier to push students to write modular code that can be used to query different things)

In [72]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

# positive value mean a car was returned

# Negative value means a car was taken

# select city == Paris

Electric_paris = Electric2[Electric2['City'] =='Paris'] 

Electric_paris.head()

   Bluecar counter  Utilib counter  ...  minute  Bluecar_Diff
0                0               0  ...      43           NaN
1                6               0  ...      24           6.0
3                3               1  ...      37           0.0
4                3               0  ...      23           0.0
5                0               0  ...       2          -3.0

[5 rows x 21 columns]

In [73]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

Electric_paris[Electric_paris['Bluecar_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    80
16    68
7     64
13    62
5     62
23    61
20    61
3     60
8     59
4     58
18    57
9     57
17    55
19    55
22    55
14    54
12    54
0     52
10    52
2     51
6     50
15    49
11    47
1     43
Name: hour, dtype: int64

In [74]:
# Q1

# What is the most popular hour for returning cars?

Electric_paris[Electric_paris['Bluecar_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     49
12    48
10    48
6     46
8     44
21    43
11    42
19    42
15    42
18    40
9     40
0     39
22    38
2     38
1     38
16    37
5     37
23    35
13    33
7     33
17    33
4     31
20    27
14    25
Name: hour, dtype: int64

In [75]:
# Q2a

# What station is the most popular?

  # Overall?

Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [77]:
# Q2b

# What station is the most popular? At the most popular picking hour?
  
Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 21)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Tronchet/19               4
Paris/Voltaire/182              3
Paris/Ãmile Reynaud/4          2
Paris/Danton/8                  2
Paris/Boulard/1                 2
                               ..
Paris/Pelleport/86              1
Paris/Pereire/170               1
Paris/Pompe/137                 1
Paris/Pont Louis-Philippe/24    1
Paris/25 AoÃ»t 1944/8           1
Name: Public name, Length: 106, dtype: int64

In [60]:
# Q3a

#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

 # Overall?

Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

     # from the dataframe 75015 == Paris/Houdart de Lamotte/2 # therefore NO it doesn't

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

In [80]:
# Q3b

#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?

Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 21)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75014    15
75019    12
75012    11
75008    11
75016    10
75013     9
75011     8
75015     7
75020     5
75017     5
75007     5
75009     4
75006     3
75003     3
75010     3
75018     3
75005     2
75004     2
75001     2
75002     1
Name: Postal code, dtype: int64

### 1.6.2 Utilib counter

In [83]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

Electric2['Utilib_Diff'] = Electric2['Utilib counter'].diff()
Electric2.head()

   Bluecar counter  Utilib counter  ...  Bluecar_Diff  Utilib_Diff
0                0               0  ...           NaN          NaN
1                6               0  ...           6.0          0.0
2                3               0  ...          -3.0          0.0
3                3               1  ...           0.0          1.0
4                3               0  ...           0.0         -1.0

[5 rows x 22 columns]

In [87]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018

Electric_paris[Electric_paris['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
19    12
23    10
22    10
14    10
6      9
10     9
5      8
8      8
9      8
3      7
11     7
15     6
16     6
17     6
7      6
20     6
2      6
13     5
4      5
0      5
12     4
1      4
18     3
21     3
Name: hour, dtype: int64

In [89]:
# What is the most popular hour for returning cars?

Electric_paris[Electric_paris['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     12
11     9
17     9
8      9
14     8
10     7
21     7
18     7
7      7
15     6
2      5
3      5
5      5
0      5
12     5
13     5
9      4
16     4
22     3
4      3
19     3
20     3
1      3
23     1
Name: hour, dtype: int64

In [101]:
# What station is the most popular? overall?
Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [91]:
# What station is the most popular? At the most popular picking hour?
  
Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 19)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Saint-Antoine/238    2
Paris/Nationale/77         2
Paris/Beaumarchais/87      2
Paris/PyrÃ©nÃ©es/236       2
Paris/Clichy/181           2
                          ..
Paris/PyrÃ©nÃ©es/89        1
Paris/PÃ©guy/2             1
Paris/Richard Lenoir/63    1
Paris/Rungis/2             1
Paris/Adolphe Yvon/6       1
Name: Public name, Length: 89, dtype: int64

In [100]:
#  What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 19)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75020    9
75012    9
75016    8
75013    8
75011    8
75017    8
75015    6
75010    6
75003    6
75007    5
75014    4
75018    4
75019    4
75002    3
75008    2
75006    2
75004    2
75005    1
75001    1
Name: Postal code, dtype: int64

### 1.6.3 Utilib 1.4 counter

In [94]:
# Creating a new column where we find the difference in the number of Utilib 1.4 counter at the station/counter

# Utilib 1.4 diff is named as utilib_two_Diff

Electric2['Utilib_two_Diff'] = Electric2['Utilib 1.4 counter'].diff()
Electric2.head()

   Bluecar counter  Utilib counter  ...  Utilib_Diff  Utilib_two_Diff
0                0               0  ...          NaN              NaN
1                6               0  ...          0.0              0.0
2                3               0  ...          0.0              2.0
3                3               1  ...          1.0             -2.0
4                3               0  ...         -1.0              0.0

[5 rows x 23 columns]

In [96]:
# Identify the most popular hour of the day for picking up a shared electric car (Utilib 1.4 Counter) in the city of Paris over the month of April 2018

Electric_paris[Electric_paris['Utilib_two_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
3     20
4     17
0     16
19    16
8     16
10    16
12    15
14    12
2     12
23    12
16    12
17    12
20    12
21    12
11    12
22    11
7     11
18    11
9     10
5     10
13     8
6      8
15     7
1      7
Name: hour, dtype: int64

In [97]:
# What is the most popular hour for returning cars?

Electric_paris[Electric_paris['Utilib_two_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
9     17
17    15
5     15
21    14
22    14
10    13
6     12
15    12
3     12
19    11
16    11
1     11
12    11
20    10
18    10
23     9
11     9
7      9
13     9
8      8
4      8
14     8
0      7
2      6
Name: hour, dtype: int64

In [102]:
# What station is the most popular? overall?
Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

In [98]:
# What station is the most popular? At the most popular picking hour?
  
Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 3)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Mortier/15             2
Paris/Julien Lacroix/39      2
Paris/Suffren/161            2
Paris/Quatre septembre/10    2
Paris/Francois 1er/7         2
                            ..
Paris/Pereire/115            1
Paris/PerrÃ©e/18             1
Paris/Plantes/56             1
Paris/PoissonniÃ¨re/64       1
Paris/25 AoÃ»t 1944/8        1
Name: Public name, Length: 89, dtype: int64

In [99]:
#  What postal code is the most popular for picking up Utilib 1.4 Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

Electric_paris[(Electric_paris['Kind'] == 'STATION') & (Electric_paris['Status'] == 'ok') & (Electric_paris['hour'] == 3)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75016    9
75015    8
75020    8
75012    7
75018    7
75017    7
75011    6
75013    5
75008    5
75006    5
75014    4
75009    4
75007    4
75003    4
75019    3
75004    3
75002    2
75010    2
75116    1
75001    1
Name: Postal code, dtype: int64